.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 48px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  z-index: 100;
}

@media (min-width: 768px) {
  .header {
    padding: 64px;
    gap: 56px;
    justify-content: flex-start;
  }
}

@media (min-width: 1024px) {
  .header {
    padding: 64px 80px;
  }
}

@media (min-width: 1440px) {
  .header {
    padding: 64px 64px;
  }
}
